<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} || [%t] || %-5level || %logger{36} || (Line: %L) || %msg%n</Property>
        <Property name="LOG_PATH">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="InfoFile" fileName="${LOG_PATH}/info.log"
                     filePattern="${LOG_PATH}/info-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorFile" fileName="${LOG_PATH}/error.log"
                     filePattern="${LOG_PATH}/error-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="DebugFile" fileName="${LOG_PATH}/debug.log"
                     filePattern="${LOG_PATH}/debug-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.example.debug" level="DEBUG" additivity="false">
            <AppenderRef ref="DebugFile" />
        </Logger>

        <Logger name="com.example.info" level="INFO" additivity="false">
            <AppenderRef ref="InfoFile" />
        </Logger>

        <Logger name="com.example.error" level="ERROR" additivity="false">
            <AppenderRef ref="ErrorFile" />
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
